/* BASE STYLES */

body
  background: $black
  margin: 0
  text-align: center
  font-family: $font-family
      
#map  
  border: 0.05vmin solid $blue
  padding: 0
  margin: 0
  width: $map-size
  height: $map-size
  background: $grey center no-repeat
  background-size: auto 101%
  display: inline-block
  border-radius: .8vmin
  position: relative
  font-size: 0 
      
  & .row
    display: block
    padding: 0
    margin: 0

h2
  font-size: 6vmin

h3
  font-size: 4vmin
  
p
  font-size: 3vmin