/* PLAYER REPPRESENTATIONS STYLES */

.pacman
  width: 3.1vmin
  height: 3.1vmin
  margin: .3vmin
  position: absolute
  top: 0
  left: 0
  border-radius: 100%
  background: url(http://www.freeiconspng.com/uploads/pacman-png-5.png) center no-repeat
  background-size: cover
    
  &.move
    background: url(http://i.imgur.com/zRERkjv.gif) center no-repeat
    background-size: cover
     
    &.right        
      transform: rotate(0deg)
    &.left
      transform: rotate(-180deg)
    &.up
      transform: rotate(-90deg)
    &.down
      transform: rotate(90deg)