!!! 5
%html
  %head
    %title test
    %meta{name: "viewport", content: "width=device-width"}
    %link{href: "https://fonts.googleapis.com/css?family=Pangolin", rel: "stylesheet"}
    %link{href: "css/main.css", rel: "stylesheet"}
  %body
    .pacman-svg