.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 58.0398em 60.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.pacman:before {
      background-position: 0em 0em;
      width: 58.0398em;
      height: 60.556em;
  }





